.principal {
    width: 100%;
    height: 588px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topo-produtos {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto 16px;
}

.topo-produtos__texto, .topo-produtos__botao {
    font-weight: 700;
}

.topo-produtos__botao {
    border: none;
    font-size: 14px;
    line-height: 16.44px;
    cursor: pointer;
    color: #2A7AE4;
    background-color: #E5E5E5;
}

.topo-produtos__botao::after {
    content: url(../img/seta.png);
    margin-left: 5px;
}

.produtos__nome, .produtos__preco {
    margin-bottom: 10px;
}

.produtos img {
    width: 156px;
    height: 174px;
}

.produtos__nome {
    font-weight: 500;
}

.produtos__nome, .produtos__link {
    font-size: 14px;
}

.produtos__preco {
    font-size: 16px;
}

.produtos__preco, .produtos__link {
    font-weight: 700;
}

.produtos__nome, .produtos__preco, .produtos__link {
    padding: 6px 0 6px 0;
}

.produtos__link {
    text-decoration: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .principal {
        height: 340px;
    }

    .produtos img {
        width: 164px;
        height: 174px;
    }

    .topo-produtos {
        width: 93%;
        margin: 0 auto 16px;
    }

    .produtos__link {
        font-size: 19px;
    }
}

@media screen and (min-width: 1440px) {
    .desktop {
        display: block;
    }

    .produtos img {
        width: 176px;
        height: 174px;
    }
}