@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
    width: 360px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background-color: #FFF;
}