.topo {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
}

.topo__logo {
    width: 100px;
}

.topo__pesquisa, .topo__pesquisa--lupa {
    display: none;
}

.topo__botao {
    width: 130px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #2A7AE4;
    background-color: #FFF;
    border: 1px solid #2A7AE4;
}

.topo__botao--pesquisa {
    border: none;
    cursor: pointer;
    background-color: #FFF;
}

@media screen and (min-width: 768px) {
    .topo {
        justify-content: space-between;
    }

    .topo__pesquisa {
        display: block;
        border: none;
        width: 272px;
        height: 40px;
        background-color: #F5F5F5;
        border-radius: 20px;
        position: relative;
        outline: none;
        text-indent: 15px;
    }

    .topo__pesquisa--lupa {
        position: absolute;
        display: block;
        margin-top: -30px;
        margin-left: 240px;
    }

    .topo__logo {
        margin-left: 50px;
    }

    .topo__botao {
        margin-left: 150px;
    }

    .topo__botao--pesquisa {
        display: none;
    }

    .topo__produtos {
        margin-top: 50px;
    }

    .topo-produtos__botao {
        font-size: 16px;
    }

    @media screen and (min-width: 1440px) {
        .topo {
            height: 115px;
        }
        
        .topo__logo {
            width: 176px;
            margin-left: 140px;
        }

        .topo__pesquisa--lupa {
            margin-left: 350px;
        }

        .topo__pesquisa {
            width: 393px;
            margin-right: 180px;
        }   

        .topo__botao {
            width: 182px;
            height: 51px;
            margin-right: 95px;
        }
    }

}