.topo {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
}

.topo__logo {
    width: 100px;
}

.topo-produtos {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto 16px;
}


.topo-produtos__texto, .topo-produtos__botao {
    font-weight: 700;
}

.topo-produtos__botao {
    border: none;
    font-size: 14px;
    line-height: 16.44px;
    cursor: pointer;
    color: #2A7AE4;
    background-color: #E5E5E5;
}

.topo-produtos__botao::after {
    content: url(../img/seta.png);
    margin-left: 5px;
}

.topo__botao {
    cursor: pointer;
    width: 130px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    background-color: #FFF;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.topo__botao--pesquisa {
    border: none;
    cursor: pointer;
    background-color: #FFF;
}

@media screen and (min-width: 768px) {
    .topo__produtos {
        margin-top: 50px;
    }

    .topo-produtos__botao {
        font-size: 16px;
    }
    
}